<html>
  <head>
    <title>Voting</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{ block "extra-head" . }}{{ end }}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {{ if .user.NickName }}
              <li><a href="/mypolls">My Polls</a></li>
              <li><a href="/newpoll">New Poll</a></li>
            {{ end }}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{ if .user.NickName }}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .user.NickName }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/account">Account</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            {{ else }}
              <li><a href="/auth/twitter">Log in with Twitter</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {{ block "content" . }}{{ end }}
    </div>
  </body>
</html>
