{{ define "extra-head" }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script  src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  return t;
}(document, "script", "twitter-wjs"));
</script>
<style>
#choices label {
  display: block;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 0;
  border-style: solid;
  border-color: #ddd;
  padding: 10px;
  margin: 0;
}
#choices label:hover {
  background-color: #eee;
}
#choices label input[type=radio] {
  margin-right: 10px;
}
#choices label:first-child {
  border-radius: 5px 5px 0 0;
}
#choices label:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #ddd;
}
#choices {
  margin: 20px 0;
}
</style>

{{ end }}


{{ define "content" }}

<h1>
  Poll: {{ .poll.Title }}
  {{ if (and .user.TwitterID (eq .poll.Author .user.TwitterID)) }}
    <a href="/polls/{{ .poll.ID.Hex }}/delete" class="btn btn-danger"><i class="fa fa-times"></i> Delete</a>
  {{ end }}
</h1>

<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Vote on this poll" data-size="large">Tweet</a>

{{ if .error }}
<div class="alert alert-danger">
  <strong>Error:</strong> {{ .error }}
</div>
{{ end }}

{{ if not .already_voted }}
<form action="/polls/{{ .poll.ID.Hex }}" method="POST">
  <div id="choices">
  {{ range .poll.Answers }}
    <label>
      <input type="radio" name="choice" value="{{ . }}" />
      {{ . }}
    </label>
  {{ end }}
  {{ if .user.TwitterID }}
    <label>
      <div class="form-inline">
        <input type="radio" name="choice" value="" />
        Other:
        <input type="text" class="form-control" name="other_choice" />
      </div>
    </label>
  {{ end }}
  </div>
  <button type="submit" class="btn btn-success">Vote!</button>
</form>
{{ else }}
<div id="piechart" style="width: 900px; height: 500px;"></div>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var criss = {{ .aggr }};
    var header = [['Label', 'Value']];
    var tmp = [];
    _.each(criss, (el) => {
      tmp.push([el._id, el.count]);
    });
    var data = google.visualization.arrayToDataTable(_.union(header, tmp));
    var options = {
      title: 'Results'
    };
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
  }
</script>
{{ end }}


{{ end }}
